{% extends 'base.html.twig' %}

{% block title %}Editar Categoria - Admin{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Editar Categoria: {{ category.name }}</h1>
            <div class="card">
                <div class="card-body">
                    {{ include('admin/category/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
